


		
		.div1{
			width:350px;
			height: 550px;
			background: white;
			position: relative;
			margin: 2% auto;
			    box-shadow: 2px 2px 20px 3px #4e4d4d;
		}

		.div2{
			width: 350px;
			height: 550px;

			border-bottom-left-radius: 46%;
			background: #8A8EC2;
			position: absolute;
		}

		.div3{
			width: 350px;
			height: 520px;

			border-bottom-left-radius: 57%;

			position: absolute;
			top:0;
			left: 0;
			 background: linear-gradient(to bottom, #648dc9 0%, #0066cc 100%);
		}

		.add{
			width: 45px;
			height: 45px;
			border-radius: 50%;
			border: 1px solid black;
			position: absolute;
			bottom: 9px;
			left: 9px;
			 background: linear-gradient(to bottom, #648dc9 0%, #0066cc 100%);
			}


		.add i{
			padding: 15px;
    		font-size: 17px;
    		color: white;
			}

					.add i:hover{
						transform:rotateZ(115deg);
						transition: .2s;
					}



		.from_wrpp{
			width: 300px;
			margin-top: 150px;
			position:absolute;
			top:30px;
			left: 30px;
		}

		form{
			padding: 5px;
			margin-left: 25px;
		}

		#input1{
			outline: none;
			border: none;
			background: none;
			border-bottom: 1px solid white;
			font-size: 17px;
			padding-bottom: 10px;
			color: white;
		}

		#submit{
			width: 150px;
			height: 30px;
			border-radius: 10px;
			background: white;
			outline: none;
			border: none;
			font-size: 17px;
			font-weight: 600;
			margin-top: 40px;
			margin-left: 35px;
			color: #4e4c4c;
			animation: submit 4s 1;
			font-family: revert;

		}



		#submit:hover{
			background: #d0cdcd;
			transition: .3s;
			color: black;
		}

		.p{
			margin-left: 122px;
		}

		.p a{
			text-decoration: none;
			color:#d2cbcb;
		}


::-webkit-input-placeholder{
	color: white;
	transition: opacity .4s ease-in-out;
}

:focus::-webkit-input-placeholder{
	opacity: 0.5;
}

.img img{
    position: absolute;
    top: 46px;
    left: 131px;
    width: 90px;
    height: 90px;
    z-index: 2;
}


@keyframes submit{
	0%{
		margin-bottom: 50px;
	}

	30%{
		
		margin-bottom: -50px;
	}
}


